<div id="about">
  About Owner
  <div class="about-content">
    <table>
      <tr>
        <td width="250px"><%= image_tag("owo.jpg", :size=>"200x200") %></td>
        <td valign="top">
          Name: Owolabbi Onamashaun<br/>
          Matric No: 
        </td>
      </tr>
    </table>
  </div>
  <div class="about-content">
    <table>
      <tr>
        <td width="250px"><%= image_tag("yasir.jpg", :size=>"200x200") %></td>
        <td valign="top">
          Name: Yasir<br/>
          Matric No:
        </td>
      </tr>
    </table>
  </div>
</div>
<br/><br/>